In [1]:
import pandas as pd

In [5]:
dfmerge = pd.read_excel("Hotel Analytics.xlsx","Merge")

In [6]:
dfmerge

,Room Type,Month,NumberOfRooms,PlanRoom,PlanFood,PlanBar,PlanTotal,ActualRoom,ActualFood,ActualBar,ActualTotal,DaysInMonth,PlanADR,ActualADR
0,ClubDeluxe,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ClubDeluxe,2,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ClubDeluxe,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ClubDeluxe,4,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ClubDeluxe,5,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,OneSuite,8,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,OneSuite,9,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,OneSuite,10,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,OneSuite,11,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,OneSuite,12,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN